*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#08111f,#0f2d5c,#08111f);
    color:white;
    padding:30px;
}

header{
    position:relative;
    text-align:center;
    margin-bottom:40px;
}

header h1{
    color:#00E5FF;
    font-size:40px;
}

header p{
    color:#d1d5db;
    margin-top:10px;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.form-card,
.table-card{
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:25px;
    border:1px solid rgba(255,255,255,.1);
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    margin-bottom:35px;
    transition:all .3s ease;
}

.form-card:hover,
.table-card:hover{
    transform:translateY(-5px);
}

.form-card h2,
.table-card h2{
    text-align:center;
    color:#00E5FF;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

input:focus{
    border:2px solid #00E5FF;
    box-shadow:0 0 12px rgba(0,229,255,.5);
}

button{
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#00E5FF;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:all .3s ease;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,229,255,.35);
}

button:active{
    transform:scale(.97);
}

table{
    width:100%;
    border-collapse:collapse;
    text-align:center;
    min-width:700px;
}

th{
    background:#2563EB;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid rgba(255,255,255,.1);
}

tbody tr:hover{
    background:rgba(255,255,255,.08);
}

.deleteBtn{
    background:#ef4444;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.deleteBtn:hover{
    background:#dc2626;
    transform:scale(1.05);
}

.upcoming{
    color:#22c55e;
    font-weight:bold;
}

.live{
    color:#f59e0b;
    font-weight:bold;
}

.finished{
    color:#ef4444;
    font-weight:bold;
}

#themeBtn{
    position:absolute;
    top:0;
    right:0;
    width:auto;
    padding:10px 18px;
    border:none;
    border-radius:10px;
    background:#FFD700;
    color:black;
}

#themeBtn:hover{
    background:#FFC107;
}

body.light{
    background:#f4f4f4;
    color:#111;
}

body.light .form-card,
body.light .table-card{
    background:white;
    color:#111;
}

body.light header h1{
    color:#2563EB;
}

body.light header p{
    color:#444;
}
body.light input{
    background:#f5f5f5;
    color:black;
}

body.light table{
    color:black;
}

body.light th{
    color:white;
}

body.light td{
    color:black;
}
